body {
  background-image: url(https://d1qmdf3vop2l07.cloudfront.net/endless-triangle.cloudvent.net/hash-store/6087c7ce77a95497ae97e130c37c4fa4.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
